<ion-view title="Config">

    <ion-content>
        
        <form class="padding" ng-submit="salvar(usuario)">

            <ion-list>

                <ion-item>
                    <img class="full-image" src="{{usuario.image}}"/>
                </ion-item>

                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="usuario.name"/>
                </ion-item>

                 <ion-item class="item-input item-stacked-label">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="E-mail" ng-model="usuario.email"/>
                </ion-item>

                <button type="submit" class="button button-balanced button-block">Salvar</button>
                <button type="button" class="button button-assertive button-block" ng-click="logout()">Logout</button>

            </ion-list>

        </form>

    </ion-content>

</ion-view>