<ion-view title="Novo Usuário">

    <ion-content>
        
        <form class="padding" ng-submit="salvar(usuario)">

            <ion-list>

                <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="usuario.name"/>
                </ion-item>

                 <ion-item class="item-input item-stacked-label">
                    <span class="input-label">E-mail</span>
                    <input type="email" placeholder="E-mail" ng-model="usuario.email"/>
                </ion-item>

                 <ion-item class="item-input item-stacked-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="mínimo 6 dígitos" ng-model="usuario.password"/>
                </ion-item>

                <button type="submit" class="button button-balanced button-block">Salvar</button>

            </ion-list>

        </form>

    </ion-content>

</ion-view>