<ion-view>

    <ion-tabs class="tabs-balanced tabs-icon-only"> <!-- tabs-icon-top -->

        <ion-tab title="Usuários" ui-sref="tabs.usuarios" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
            <ion-nav-view name="tab-usuarios"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Mensagens" ui-sref="tabs.mensagens" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline">
            <ion-nav-view name="tab-mensagens"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Configurações" ui-sref="tabs.config" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
            <ion-nav-view name="tab-config"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>